@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Cactus+Classical+Serif&family=Lekton:ital,wght@0,400;0,700;1,400&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&family=Source+Serif+4:ital,opsz,wght@0,8..60,200..900;1,8..60,200..900&display=swap');

.font-nexus {
  font-family: 'Newsreader', sans-serif;
}
.font-lekton{
  font-family: 'Lekton', sans-serif;
}
.font-poppins{
  font-family: 'Poppins', sans-serif;
}
.cactus-classical-serif-regular {
  font-family: "Cactus Classical Serif", serif;
  font-weight: 400;
  font-style: normal;
}


body, #root {
  background-color: white;  /* Soft Ivory background */
  font-family: 'Cactus Classical Serif', 'Sansation' serif;  /* Sansation as default font */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;  /* Ensure full height background */
}